/* Global Style */

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

section {
    margin: 50px 0;
    padding: 50px 0;
}

.ariat-title-1 {
    color:#000000 ;
}

.ariat-title-2 {
    color: #708090;
}

.ariat-button {
    background-image: linear-gradient( #000000, #3543BC);
    padding: 10px 25px;
    border-radius: 10px;
    text-transform: uppercase;
}


/* Header Stle */

.header-section .ariat-menu {
    align-items: flex-end;
}

.header-section {
    background-color:#F0FFFF;
}

.header-section nav ul li a {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.banner-content h1 {
    font-size: 80px;
    line-height: .9;
}


/* Products and Feature Style */

.ariat-card {
    border: 0;
    border-radius: 20px;
}

.ariat-card img {
    border: none;
    border-radius: 20px;
}

.ariat-casual-section .ariat-card img {
    background-color:#000000 ;
    height: 400px;
}

.ariat-card h4,
.ariat-card h2 {
    font-weight: 900;
}

.ariat-card-footer {
    border: 0;
    background-color: white;
}

.ariat-card .ariat-card-icon {
    width: 100px;
    background-color: white;
}

.sales-img {
    border-radius: 20px;
}


/* Contact Us Style */

.ariat-contact i {
    font-size: 50px;
    color: #191970;
}


/* Style For Mobile Device */

@media (max-width:768px) {
    .ariat-casual-section h1,
    .ariat-formal-section h1,
    .ariat-feature-section .ariat-card,
    .ariat-contact {
        text-align: center;
    }
    .banner-two-order,
    .banner-one-order {
        order: -1;
    }
}


/* Follow us */

.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.follow-us-icon-container {
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.follow-us-icon-container:hover {
	background-color: lightgray;
}


.icon {
    color: #191970;
    font-size: 35px;
}